@model List<BooksEntity>

@{
    ViewData["Title"] = "Books";
}

<h2>Books</h2>

<br>
<div class="row">
    <div class="col-md-12">
        <a asp-action="Create" asp-controller="Book" class="btn btn-sucess">Create Book</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <td>Book Title</td>
                </tr>
            </thead>
        </table>
    </div>
</div>